body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('numerology.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 20px;
    margin: 0;

}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: none; 
    border-radius: 20px;
    border: 1px solid #000000;
    box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.1);
    
}

h1 {
    font-size: 24px;
    color: #000000;
}
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}
#output {
    margin-top: 20px;
}
h2 {
    font-size: 20px;
    color: #000000;
}
p {
    font-size: 16px;
    color: #000000;
}
span {
    font-weight: bold;
    color: #000000;
}